.header{
  background-color: black;
  display:flex;
  align-items: center;
  justify-content: center;
}

.notepage .header h3{
  text-align: center;
  color: orange;
  font-size: 28px;
  font-weight:900;
}

.notepage .header .title {
  margin: auto;
  margin-top: 20px;

}
.notepage .header .title h4{
  margin: auto;
  margin-bottom: 20px;
}

  body {
    background:#666;
    color:#fff;
  }

.notepage .notes{

    margin-left: 3em;
    height: auto;
    width: auto;
  }

  .notepage .notes .container{
  
    display: inline-flex;
  }

  .notepage .notes .box{
    flex-direction: column;
    margin: 20px;
    height: 270px;
    width: 270px;
    text-decoration:none;
    color:#000;
    background:#ffc;
    height:10em;
    width:10em;
    padding:1em;
  }

  .notepage .notes .container .button {
    height: 20px;
    width: 50px;
    position: absolute;
    border: 1px solid;
    margin-top: 190px;
    margin-left: 160px;
  }
  .notepage .notes .box .text {
    width: 160px;
    height: 150px;
    border: 1px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family:arial,sans-serif;
    font-size:100%;
  }
  .notepage .notes .box .text > h4, p {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .notepage .bar {
    margin: auto;
    border-radius: 5px;
    width: 25%;
    background-color: rgb(197, 197, 197);
    padding: 20px;
  }

  .notepage .bar label{
    color: black;
  }
  .notepage .bar input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .notepage .bar input[type=submit] {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .notepage .bar input[type=submit]:hover {
    background-color: green;
  }